@model VendorToCustomer.Models.Vendars

@{
    ViewData["Title"] = "AddVendors";
}

<h2>Add Vendors</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddVendors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VendorsName" class="control-label">Vendor Name</label>
                <input asp-for="VendorsName" class="form-control" />
                <span asp-validation-for="VendorsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="VendarList" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
